.app-container {
  max-width: 400px;
  margin: 0 auto;
}
.error-msg {
  color: red;
  text-align: center;
  font-size: 18px;
}
.am-tab-bar {
  max-width: 400px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: inherit;
}
#chat-page .chat-me .am-list-extra {
  flex-basis: auto;
}
#chat-page .chat-me .am-list-content {
  padding-right: 15px;
  text-align: right;
}
.sticky-header {
  max-width: 400px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}
.header2 {
  width: 10%;
}
.header2 img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
